body {
  min-height: 100vh;
  background-color: #c5c5c5;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
}
.field {
}
.container {
  max-width: 80vmax;
  margin: 0 auto;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.field table {
  /* height: 100%;
  width: 100%; */
  text-align: center;
  padding: 3vmin;
}
.field table td {
  vertical-align: middle;
  border: 1px solid #000;
  min-width: 5vmax;
  width: 5vmax;
  height: 5vmax;
  font-size: 0px;
  word-break: break-all;
}
.deadCeil {
  background-color: rgb(187, 44, 44);
  background-image: url(../img/icons8-триллер-50.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.aliveCeil {
  background-color: rgb(35, 156, 51);
  background-image: url(../img/icons8-улыбка-50.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.appearance {
  animation: appearance 0.8s ease, appearance 1s ease 1s reverse;
}

@keyframes appearance {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}
